@use "variables" as *;

////////////* GENERAL *////////////
* {
  // outline: 1px solid #555;
}
body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial,
    sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}
.header,
.footer {
  font-family: "Helvetica Neue", Helvetica, arial, freesans, clean, sans-serif;
}

.section {
  display: flex;
}

.container {
  padding: 0 20px;
  max-width: 445px;
  margin: 0 auto;
  display: flex;
  flex: 1;
  @media (min-width: 900px) {
    max-width: 854px;
  }
}
.container-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-auto-rows: minmax(50px, auto);
  @media (min-width: 900px) {
    grid-template-columns: repeat(8, 1fr);
  }
}

////////////* HEADER *////////////
.header {
  height: 63px;
  background-color: $bgc-header;
  font-size: $fz-paragraph;
  @media (min-width: 900px) {
    height: 43px;
  }
  .header__container {
    justify-content: center;
    @media (min-width: 900px) {
      justify-content: space-between;
    }
  }
  .header__navbar {
    display: flex;
    align-items: center;
    a {
      color: $c-header;
      text-decoration: none;
      &:hover {
        color: $hc-header;
      }
    }
  }
  .header__sign-in {
    display: flex;
    a {
      color: $c-header;
      text-decoration: none;
      display: flex;
      align-items: center;
      &:hover {
        color: $hc-header;
      }
    }
    img {
      width: 13px;
      height: 16px;
    }
  }
}

////////////* HERO *//////////
.hero {
  background-color: $bgc-main;
  .hero__container {
    grid-template-areas:
      ". . . ."
      ". . . ."
      "header header header header"
      ". . . ."
      "main main main main"
      "footer footer footer footer";

    @media screen and (min-width: 900px) {
      grid-template-areas:
        ". . . . . . . ."
        ". . . . . . . ."
        "header header header header header header header header"
        ". . . . . . . ."
        "main main main main main main main main"
        "footer footer footer footer footer footer footer footer";
    }
    @media screen and (min-width: 1100px) {
      grid-template-areas:
        ". . . . . . . ."
        ". . . . . . . ."
        "header header header header header main main main"
        "header header header header header main main main"
        "footer footer footer footer footer footer footer footer";
    }
    @media screen and (min-width: 100px) and (min-height: 1000px) {
      grid-template-areas:
        ". . . . . . . ."
        ". . . . . . . ."
        "header header header header header header header header"
        ". . . . . . . ."
        "main main main main main main main main"
        "footer footer footer footer footer footer footer footer";
    }
  }
  .hero__header {
    grid-area: header;
    height: 360px;
    display: flex;
    justify-content: center;
    align-items: center;

    position: relative;
    .atom-circles {
      position: absolute;
      img {
        transform: translate(-50%, -50%);
        position: absolute;
      }
    }
    .atom-blue {
      position: absolute;
      transform: translate(-280px, -100px);
    }
  }
  .hero__main {
    grid-area: main;
    display: flex;
    justify-content: center;
    ul {
      border-radius: $radius-2;
      border: 1px solid $c-border;
      display: flex;
      flex-direction: column;

      @media screen and (min-width: 1100px) and (min-height: 1000px) {
        flex-direction: row;
      }
      li {
        display: flex;
        flex-direction: column;
        justify-content: center;
      }
      li + li {
        border-top: 1px solid $c-border;
        @media screen and (min-width: 1100px) and (min-height: 1000px) {
          border-top: initial;
          border-left: 1px solid $c-border;
        }
      }
    }
    .hero__note {
      align-items: center;
      h3 {
        font-size: $fz-heading-3;
        color: $c-letter;
        line-height: $lh-header;
      }
      p {
        color: $c-letter-dark;
        font-size: $fz-paragraph;
        line-height: $lh-paragraph;
      }
      a {
        color: $c-letter-link;
        text-decoration: none;
        &:hover {
          color: $hc-primary;
        }
      }
    }
    .hero__note--release {
      h3 {
        letter-spacing: $letter-space-1;
      }
    }
    .download {
      a {
        background-color: $c-primary;
        color: $c-letter-black;
        border-radius: $radius-1;
        text-decoration: none;
        display: flex;
        font-weight: $bold;
        &:hover {
          background-color: $hc-primary;
        }
      }
    }
  }
  .hero__footer {
    grid-area: footer;
    display: grid;
    justify-content: center;
    > p {
      line-height: $lh-paragraph;
      color: $c-letter-dark;
      a {
        color: $c-letter-link;
        text-decoration: none;
        &:hover {
          color: $hc-primary;
        }
      }
    }
    > ul {
      display: flex;
      justify-content: space-between;
      a {
        line-height: $lh-paragraph;
        color: $c-letter-link;
        text-decoration: none;
        &:hover {
          color: $hc-primary;
        }
      }
    }
  }
}

.main {
  //   height: 100vh;
  background-color: $bgc-main;
}

.contact {
  //   height: 804px;n
  background-color: $bgc-contact;
}
.footer {
  //   height: 136px;
  background-color: $bgc-footer;
}
