//* Color
// Font Color
$c-header: #dad4cc;
$hc-header: #81c08b;

$c-letter: #efdab9;
$c-letter-dark: #676057;
$c-letter-link: #766d62;
$c-letter-black: #353435;

$c-primary: #ffd152;
$hc-primary: #fac31f;
$c-secondary: #61efce;
$hc-secondary: #45edc6;
$c-secondary-600: #78b0a0;

// Background
$bgc-header: #584b4f;

$bgc-main: #353435;

$bgc-contact: #2c2a2b;

$bgc-footer: #efeae1;

// Others
$c-border: #444143;

//* Site
$fz-attention: 12px;
$fz-paragraph: 14px;
$fz-body: 16px;

$fz-heading-4: 19px;
$fz-heading-3: 22px;
$fz-heading-2: 32px;
$fz-heading-1: 36px;

$lh-header: 1.3;
$lh-paragraph: 1.5;

$letter-space-1: 0.3rem;
$radius-1: 8px;
$radius-2: 16px;

$fw-light: 200;
$fw-bold: 600;
