//* Color
// Font Color
$c-header: #dad4cc;
$hc-header: #81c08b;

$c-letter: #efdab9;
$c-letter-dark: #676057;
$c-letter-link: #766d62;

$c-primary: #ffd152;
$hc-primary: #fac31f;
$c-secondary: #61efce;
$hc-secondary: #45edc6;
$c-secondary-600: #78b0a0;

// Background
$bgc-header: #584b4f;

$bgc-main: #353435;

$bgc-contact: #2c2a2b;

$bgc-footer: #efeae1;

// Others
$bc-light: #444143;

//* Site
$fz-attention: 12px;
$fz-paragraph: 14px;
$fz-body: 16px;

$fz-heading-4: 19px;
$fz-heading-3: 22px;
$fz-heading-2: 32px;
$fz-heading-1: 36px;
