.section {
  outline: 1px solid aqua;
}

.header {
  height: 43px;
  background-color: #584b4f;
}

.hero {
  height: 988px;
  background-color: #353435;
}

.main {
  height: 100vh;
  background-color: #353435;
}

.contact {
  height: 804px;
  background-color: #2c2a2b;
}
